*.crt
*.key
*.env
/ImageRegistry/mountPoints/nextcloud/db
/ImageRegistry/mountPoints/homer/assets
/ImageRegistry/mountPoints/ldap/slapdd
/ImageRegistry/mountPoints/nagios/db
/ImageRegistry/mountPoints/nextcloud/data
*.gz
/ImageRegistry/mountPoints/certgetter/certrequests.json
/ImageRegistry/config/config.json
/ImageRegistry/mountPoints/coredns
*.htpasswd
/ImageRegistry/mountPoints/registryUI/config.yml
/ImageRegistry/mountPoints/ingress/nginx.conf
/ImageRegistry/mountPoints/registry/config.yml
/ImageRegistry/mountPoints/registryMirror/config.yml
