*.crt
*.key
*.env
/ImageRegistry/mountPoints/nextcloud/db
/ImageRegistry/mountPoints/homer/assets
/ImageRegistry/mountPoints/ldap/slapdd
/ImageRegistry/mountPoints/nagios/db
/ImageRegistry/mountPoints/nextcloud/data
