{
    "domain":"example.com",
    "forward":[".","YourDNSForwarder","BackupDNSForwaderLike: 8.8.8.8"],
	"DNS":{
		"MNAME":"dns.","RNAME":"brandon.mcclure","SERIAL":"2015082541","REFRESH":"7200","RETRY":"3600","EXPIRE":"1209600","TTL":"3600"
	},
    "Records":[
        {"Name":"dns","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost"},
		{"Name":"ldap","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost"},
        {"Name":"dhcp","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost"},
        {"Name":"ca","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"8888"},
		{"Name":"proxy","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost"},
        {"Name":"registry","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"5000","Authentication":"basic"},
		{"Name":"registryui","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"5000"},
        {"Name":"gateway","ZoneClass":"IN","RecordType":"A","IpAddress":"192.168.0.1"},
        {"Name":"grafana","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"3000","upstreamScheme":"https"},
		{"Name":"prometheus","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"9090"},
		{"Name":"prometheusblackbox","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"9090"},
		{"Name":"elastic","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"9200","upstreamService":"es01"},
		{"Name":"kibana","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"5601","upstreamService":"kib01"},
        {"Name":"flatcarMirror","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost"},
		{"Name":"nagios","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"4000"},
		{"Name":"vault","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"8200"},
		{"Name":"ingress","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"443","ingressMappings":[{"port":9113,"endpoint":"/metrics","ToService":"ingress_prom_exporter"}]},
		{"Name":"nextcloud","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"3040"},
		{"Name":"scratch","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"7125"},
		{"Name":"diagrams","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"7124"},
		{"Name":"vscode","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"7126"},
		{"Name":"calibre","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"7123"},
		{"Name":"homer","ZoneClass":"IN","RecordType":"A","IpAddress":"localhost","port":"8080"},
    ]
}