delete:
  enabled: true
log:
  accesslog:
    disabled: false
  level: debug
  fields:
    service: registry
http:
  addr: :5000
  debug:
    addr: :5001
    prometheus:
      path: /metrics
      enabled: true
  host: http://registry_mirror
version: 0.1
proxy:
  remoteURL: https://registry-1.docker.io
health:
  storagedriver:
    threshold: 3
    interval: 10s
    enabled: true
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
