storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
http:
  addr: :5000
  debug:
    addr: :5001
    prometheus:
      path: /metrics
      enabled: true
  host: https://Registry.mcd.com
version: 0.1
log:
  accesslog:
    disabled: false
  level: debug
  fields:
    service: registry
health:
  storagedriver:
    threshold: 3
    interval: 10s
    enabled: true
delete:
  enabled: true

