auth:
  htpasswd:
    realm: registry_realm
    path: /auth/htpasswd
log:
  accesslog:
    disabled: false
  level: debug
  fields:
    service: registry
version: 0.1
http:
  addr: :5000
  host: https://Registry:5000
  debug:
    addr: :5001
    prometheus:
      enabled: true
      path: /metrics
  tls:
    certificate: /certs/cert.crt
    key: /certs/cert.key
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
health:
  storagedriver:
    threshold: 3
    enabled: true
    interval: 10s
    

